@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root {
    --primary-color: #61584E;
    --off-white: #CDCDCE;
}

/**Define all your colors in the color pallet then use it whenever you want**/

body {
    font-family: 'Montserrat',
        sans-serif;
    margin: 0px;
    background: #212426;
}

hr {
    margin: 2rem 0rem;
    /**top is 2, right & left is 0**/
}

/** Spaces **/
.margin-md {
    margin: 10rem;
}

/** Padding goes like top->right->bottom->left
If ou give only top & right, top one will be applied to bottom and right one will be applied to left**/

.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/* Links */

.link {
    text-decoration: none;
    padding: 0.5rem, 1rem;


}

/* .twitter:hover {
    background-color: #00B6F1;
}
.ig:hover {
    background-color:#bc2a8d;
}
.fb:hover {
    background-color: #3B5998;
} */

.link-primary {
    padding: 10px 20px;
    margin: 4px 2px;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    /**Put space between "0" and ".5" ie. "0 .5 and see what happens"**/
    color: #CDCDCE
}

.link-secondary {
    padding: 10px 20px;
    margin: 4px 2px;
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 2px solid var(--primary-color)
}

/** look into BEM naming convention for CSS **/

/** Lists **/

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/** Navigation **/

.navigation {
    background-color: #212426;
    color: #CDCDCE;
    padding: 1rem;
    /* border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem; */

}

.navigation .nav-brand {
    font-weight: normal;
    text-align: center;
    color: #6b7280;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: #CDCDCE;
}

/*Inside Navigation there's a link class whose text I wanna change*/

.navigation .link-active {
    font-weight: bold;
}

/** Header **/

.hero {
    padding: 2rem;
    padding-top: 5rem;
}

.hero .hero-img {
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    text-align: center;
    padding-top: 1rem;
    color: var(--off-white);
}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color);
}

/** For Highlighting Texts **/

/** Section **/

.section {
    padding: 2rem;
    font-family: sans-serif;
}

.section h1 {
    text-align: center;
}

.ow {
    background: #212426;
    color: #CDCDCE;
    font-weight: normal;

}

/** Footer **/

.footer {
    padding: 2rem;
    text-align: center;
    color: #CDCDCE;
    border-top-right-radius: 1rem;
    font-weight: normal;
}

.footer .link {
    color: #CDCDCE;
}

.footer .footer-header {
    font-size: large;
    color: #CDCDCE;
}

.footer ul {
    padding-inline-start: 0px;
}






@media screen and (max-width: 340px) {
    .wrapper {
        width: 150px;
    }

    .wrapper ul li {
        margin: 15px;
    }

    .wrapper ul li.google {
        margin-left: 15px;
    }
}