@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root {
    --primary-color: #7C3AED;
    --dark-gray: #6b7280;
    --off-white: #F3F4F6;
}

/**Define all your colors in the color pallet then use it whenever you want**/

body {
    font-family: 'Montserrat',
        sans-serif;
        margin: 0px;
        background: #0A122A;
}

hr {
    margin: 2rem 0rem;
    /**top is 2, right & left is 0**/
}

/** Spaces **/
.margin-md {
    margin: 10rem;
}

/** Padding goes like top->right->bottom->left
If ou give only top & right, top one will be applied to bottom and right one will be applied to left**/

.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/* Links */

.link {
    text-decoration: none;
    padding: 0.5rem, 1rem;
    

}
/* .twitter:hover {
    background-color: #00B6F1;
}

.ig:hover {
    background-color:#bc2a8d;
}

.fb:hover {
    background-color: #3B5998;
} */

.link-primary {
    padding: 10px 20px;
    margin: 4px 2px;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    /**Put space between "0" and ".5" ie. "0 .5 and see what happens"**/
    color: white
    
}

.link-secondary {
    padding: 10px 20px;
    margin: 4px 2px;
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 2px solid var(--primary-color)
    
}

/** look into BEM naming convention for CSS **/

/** Lists **/

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/** Navigation **/

.navigation {
    background-color:#0A122A;
    color: white;
    padding: 1rem;
    /* border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem; */

}

.navigation .nav-brand {
    font-weight: normal;
    text-align: center;
    color: #6b7280;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: white;
}

/*Inside Navigation there's a link class whose text I wanna change*/

.navigation .link-active {
    font-weight: bold;
}

/** Header **/

.hero {
    padding: 2rem;
    padding-top: 5rem;
}

.hero .hero-img {
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    text-align: center;
    padding-top: 1rem;
    color: var(--dark-gray);
}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color);
}

/** For Highlighting Texts **/

/** Section **/

.section {
    padding: 2rem;
    font-family: sans-serif;
}

.section h1 {
    text-align: center;
}

.ow {
    background: #0A122A;
    color: white;
    font-weight: normal;

}

/** Footer **/

.footer {
    padding: 2rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
    font-weight: normal;
}

.footer .link {
    color: white;
}

.footer .footer-header {
    font-size: large;
    color: black;
}

.footer ul {
    padding-inline-start: 0px;
}

* {
    margin: 0;
    padding: 0;
  }
  
  





  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    background: #0A122A;
  }
  
  /* Let's style the wrapper in such away that, 
  it should always be at the center of the browser */
  .wrapper {
    position: absolute;
    top: 140%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 550px;
  }
  
  /* Style the Un-order list by setting its list-style to none */
  .wrapper ul {
    list-style: none;
  }
  
  /* Style the list items inside the UL list, by setting its width, height and line-height 
    and float them to left and set its border and border-radius.
   */
  .wrapper ul li {
    width: 75px;
    height: 75px;
    line-height: 75px;
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    border: 0px solid #D8E2DC;
    float: left;
    transition: all 0.5s ease;
  }
  
  /* Style the icons by setting its color and margin-top value to 20px 
  to align it properly */
  .wrapper ul li .fa {
    color: white;
    margin-top: 20px;
    transition: all 0.5s ease;
  }
  
  /* Now target the specific li classes for styling and use box-shadow effect to border and text-shadow effect
    to icons for glowing effect and use transition property for smooth transition effect. */
  /*facebook*/
  /* .wrapper ul li:hover.facebook {
    border: 0px solid #3b5998;
    box-shadow: 0 0 15px #3b5998;
    transition: all 0.5s ease;
  } */
  
  .wrapper ul li:hover .fa-facebook {
    color: #3b5998;
    text-shadow: 0 0 15px #3b5998;
    transition: all 0.5s ease;
  }
  
  /*twitter*/
  /* .wrapper ul li:hover.twitter {
    border: 0px solid #00aced;
    box-shadow: 0 0 15px #00aced;
    transition: all 0.5s ease;
  } */
  
  .wrapper ul li:hover .fa-twitter {
    color: #00aced;
    text-shadow: 0 0 15px #00aced;
    transition: all 0.5s ease;
  }
  
  /* instagram */
  /* .wrapper ul li:hover.instagram {
    border: 0px solid #bc2a8d;
    box-shadow: 0 0 15px #bc2a8d;
    transition: all 0.5s ease;
  } */
  
  .wrapper ul li:hover .fa-instagram {
    color: #bc2a8d;
    text-shadow: 0 0 15px #bc2a8d;
    transition: all 0.5s ease;
  }
    
  /* whatsapp */
  /* .wrapper ul li:hover.whatsapp {
    border: 0px solid #4dc247;
    box-shadow: 0 0 15px #4dc247;
    transition: all 0.5s ease;
  } */
  
  .wrapper ul li:hover .fa-whatsapp {
    color: #4dc247;
    text-shadow: 0 0 15px #4dc247;
    transition: all 0.5s ease;
  }
  
  
  /* media queries */
  
  /* @media screen and (max-width: 640px){
    .wrapper {
        width: 350px;
    }
    .wrapper ul li{
        margin-top: 10px;
    }
    .wrapper ul li.google{
        margin-left: 60px;
    }
  }
  
  
  @media screen and (max-width: 340px){
    .wrapper {
        width: 150px;
    }
    .wrapper ul li{
        margin:15px;
    }
    .wrapper ul li.google{
        margin-left: 15px;
    }
  } */